* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {

}
.responsive {
    padding: 0 6px;
    width: 24.99%;
    float: left;
}
.gallery {
    border: 1px solid #ccc;
}
.gallery img {
    width: 100%;
    height: auto;
}
.gallery:hover {
    border: 1px solid #000;
}
.desc {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

@media only screen and (max-width:700px) {
    .responsive {
        width: 49.99%;
        padding: 6px 0;
    }
}

@media only screen and (max-width:500px) {
    .responsive {
        width: 100%;
    }
}